<section
data-section-id="{{ id }}"
data-section-type="page"
class="section page">
  <div class="quiz-container">
    <div class="quiz-progress-bar"></div>
    <div class="quiz-screen">
      <div class="quiz-content">
        <div class="step-container" data-step0>
          <h2 class="type-heading-display">Find the product that is suitable for your hair</h2>
        </div>
        <div class="step-container" data-step1>
          <h2 class="type-heading-display">1. {{ step1 }}</h2>
          <div class="option-container">
            <input type="radio" name="step1" id="step1-1" value="1" />
            <label for="step1-1" class="bttn bttn--secondary">YES!</label>
          </div>
        </div>
        <div class="step-container" data-step2>
          <h2 class="type-heading-display">2. {{ step2 }}</h2>
          <div class="option-container">
            <input type="radio" name="step2" id="step2-1" value="1" />
            <label for="step2-1" class="bttn bttn--secondary">Yes!</label>
              
            <input type="radio" name="step2" id="step2-2" value="2" />
            <label for="step2-2" class="bttn bttn--secondary">No!</label>
          </div>
        </div>
        <div class="step-container" data-step3-1>
          <h2 class="type-heading-display">3. {{ step3_1 }}</h2>
          <div class="option-container">
            <input type="radio" name="step3_1" id="step3_1-1" value="1" />
            <label for="step3_1-1" class="bttn bttn--secondary">With!</label>
              
            <input type="radio" name="step3_1" id="step3_1-2" value="2" />
            <label for="step3_1-2" class="bttn bttn--secondary">Without!</label>
          </div>
        </div>
        <div class="step-container" data-step4>
          <h2 class="type-heading-display">We think you'll enjoy this product.</h2>
          <div class="quiz-products-container">
            <div class="quiz-product" data-product1>
              {% render 'product-item' with
                      product: product1,
                      swatches_enabled: false,
                      aspect_ratio: 'natural'
              %}
            </div>
            <div class="quiz-product" data-product2>
              {% render 'product-item' with
                      product: product2,
                      swatches_enabled: false,
                      aspect_ratio: 'natural'
              %}
            </div>
            <div class="quiz-product" data-product3>
              {% render 'product-item' with
                      product: product3,
                      swatches_enabled: false,
                      aspect_ratio: 'natural'
              %}
            </div>
            <div class="quiz-product" data-product4>
              {% render 'product-item' with
                      product: product4,
                      swatches_enabled: false,
                      aspect_ratio: 'natural'
              %}
            </div>
            <div class="quiz-product" data-product5>
              {% render 'product-item' with
                      product: product5,
                      swatches_enabled: false,
                      aspect_ratio: 'natural'
              %}
            </div>
          </div>
        </div>
        <div class="step-container" data-step3-2>
          <h2 class="type-heading-display">3. {{ step3_2 }}</h2>
          <div class="option-container">
            <input type="radio" name="step3_2" id="step3_2-1" value="3" />
            <label for="step3_2-1" class="bttn bttn--secondary">Dry hair & itchy scalp</label>
              
            <input type="radio" name="step3_2" id="step3_2-2" value="4" />
            <label for="step3_2-2" class="bttn bttn--secondary">Normal hair & scalp</label>

            <input type="radio" name="step3_2" id="step3_2-3" value="5" />
            <label for="step3_2-3" class="bttn bttn--secondary">Dry hair & oily scalp</label>
          </div>
        </div>
      </div>
      <button class="bttn bttn--primary btn-ok" data-step-ok>OK</button>
      <div class="btn-container">
        <button class="bttn bttn--primary" data-step-back>{% render 'icon-chevron-left' %}</button>
        <button class="bttn bttn--primary" data-step-forth>{% render 'icon-chevron-right' %}</button>
      </div>
    </div>
  </div>
</section>